version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "3443:3443"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=nawapon1234
      - DB_NAME=asset_db
      - TZ=Asia/Bangkok
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: nawapon1234
      MYSQL_DATABASE: asset_db
      TZ: Asia/Bangkok
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init_schema.sql:/docker-entrypoint-initdb.d/init_schema.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - db
    environment:
      PMA_HOST: db
      TZ: Asia/Bangkok
    ports:
      - "8080:80"

volumes:
  db_data:
